/* Mixins */
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* Variables */
$ipad-landscape: 1024px;
$ipad-portrait: 768px;
$medium-devices: 640px;
$small-devices: 480px;