@import 'mixins';

html, body { height: 100%; }

.wrapper { 
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  height: 100%;
  overflow: auto;
}

main {
  margin: 0 auto -145px; /* bottom margin is the negative value of the footer's height */
  min-height: 100%;

  nav {
    padding: 0 20px;
    width: 100%;
    font: 300 14px/40px Open Sans, sans-serif;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);

    a { color: rgb(255,255,255); }
  }

  header {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    .logo {
      float: left;
      margin: 10px 0;
      width: 100%;
      max-width: 300px;
      height: 100px;

      @media (max-width: 767px) {
        display: block;
        float: none;
        margin: 10px auto;
      }
    }

    .progress-bar {
      float: right;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .progress-bar {
    width: 100%;
    max-width: 400px;

    p {
      font: 600 14px/32px Open Sans, sans-serif;
      color: rgb(255,255,255);
      text-align: center;
      text-shadow: 1px 1px 4px black; 
    }

    .total {
      position: relative;
      display: block;
      border: 2px solid hsl(0, 0%, 0%);
      border-radius: 6px;
      height: 60px;
      background-color: hsl(0, 0%, 100%);
      overflow: hidden;

      .current {
        border-right: 2px solid hsl(0, 0%, 0%);
        border-radius: 4px 0 0 4px;
        height: 100%;
        background-color: hsl(90, 50%, 50%);
      }

      .goal {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
        max-width: 95%;
      }
    }
  }

  .chat-frame {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    width: 225px;
    background-color: hsl(0, 0%, 100%);

    .nameplate {
      border: 2px solid hsl(0, 0%, 0%);
      border-radius: 7px 7px 0 0;
      padding: 0 10px;
      width: 100%;
      height: 65px;
      font: 22px/65px Coming Soon, sans-serif;
      color: hsl(0, 0%, 100%);
      text-transform: uppercase;
      background-color: rgb(10, 130, 255);

      .avatar {
        vertical-align: middle;
        border: 2px solid hsl(0, 0%, 0%);
        border-radius: 20px;
        width: 40px;
        height: 40px;
        background-color: hsl(0, 0%, 100%);
      }

      .speaker { display: inline; }
    }

    .message-pane {
      position: relative;
      border-left: 2px solid hsl(0, 0%, 0%);
      border-right: 2px solid hsl(0, 0%, 0%);
      padding: 5px;
      width: 100%;
      height: 250px;
      overflow-y: scroll;

      .error {
        display: none;
        position: absolute;
        top: 0; right: 0; left: 0;
        padding: 5px 10px;
        font: 12px/16px Open Sans, sans-serif;
        color: hsl(0, 0%, 100%);
        background-color: hsl(0, 100%, 50%);
      }

      .message {
        display: none;
        border-radius: 6px;
        padding: 10px;
        margin: 5px;
        width: 75%;
        max-width: 375px;
        font: 600 12px/16px Open Sans, sans-serif;

        &.from { 
          float: left;
          text-align: left;
          background-color: rgb(220, 220, 220);
        }

        &.to { 
          float: right;
          text-align: center;
          background-color: rgb(10, 130, 255);

          .prefill, .answer {
            margin-bottom: 5px;
            color: rgb(255,255,255);
          }

          .answer {
            border-bottom: 1px solid hsl(0, 0%, 100%);
            width: 90%;
            font: 18px/30px Coming Soon, sans-serif;
            text-align: center;
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }

    .send {
      border: 2px solid hsl(0, 0%, 0%);
      border-radius: 0 0 7px 7px;
      width: 100%;
      height: 40px;
      font: 600 18px/35px Open Sans, sans-serif;
      color: rgb(10, 130, 255);
      text-align: center;
      background-color: rgb(220, 220, 220);
      cursor: pointer;
    }
  }

  #dialog {
    position: relative;
    height: 400px;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.3);

    
  }

  #content-upper,
  #content-lower {
    .wrapper {
      display: none;
      padding: 30px 0;
    }
  }

  #content-upper {
    position: relative;
    text-align: center;
    background: url('../../_img/background-paper.jpg') top center/cover no-repeat;

    .dialog-box {
      margin: 0 auto;
      height: 415px;
      width: 90%;
      max-width: 800px;
      min-width: 300px;

      &.download { display: none; }

      .dialog-image {
        float: left;
        padding: 75px 0 75px 10%;
        height: 100%;

        @media (max-width: $ipad-portrait) {
          display: none;
        }
      }

      .dialog-copy {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: left;

        @media (max-width: $ipad-portrait) {
          width: 75%;
        }

        .text {
          font: 600 24px/30px Open Sans, sans-serif;

          @media (max-width: $small-devices) {
            font: 600 20px/26px Open Sans, sans-serif;
          }
        }

        .button {
          margin: 20px 0;
        }

        .subtext {
          font: 600 16px/22px Open Sans, sans-serif;
          color: hsl(0, 0%, 0%);

          @media (max-width: $small-devices) {
            font: 600 16px/22px Open Sans, sans-serif;
          }
        }
      }
    }

    .chat-frame {
      margin: 0 50px;
    }

    .scene {
      vertical-align: middle;
      max-width: 60%;
      min-width: 300px;
    }
  }

  #content-lower {
    min-height: 100px;
    text-align: center;

    .chat-frame {
      width: 80%;
      max-width: 650px;

      .message-pane {        

        .message {
          @media (max-width: 1024px) {
            font: 600 14px/18px Open Sans, sans-serif;
          }
        }
      }
    }

    .progress-bar {
      margin: 20px auto 0;

      @media (min-width: 768px) {
        display: none;
      }

      .total {
        margin: 0 10px;
      }
    }
  }
}

footer, .footer-offset {
  height: 145px;
}

footer {
  padding: 0 10%;
  font: 12px/22px Open Sans, sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  background-color: hsl(0, 0%, 0%);

  @media (max-width: $ipad-landscape) {
    font: 10px/18px Open Sans, sans-serif;
  }

  @media (max-width: $medium-devices) {
    height: 225px;
  }

  .copy {
    display: inline-block;
    vertical-align: middle;
    width: 99.99%;

    p { 
      margin-bottom: 10px; 
      &:last-of-type { margin: 0; }
      
      .legal-link {
        color: hsl(0, 0%, 100%);
      }
    }
  }
}
