@import 'mixins';

nav {
    padding: 0 20px;
    width: 100%;
    font: 300 14px/40px Open Sans, sans-serif;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);

    a { color: rgb(255,255,255); }

    .wrapper {
      margin: 0 auto;
      max-width: 775px;
    }
}

header {
    padding: 0 20px;
    
    .image {
        display: block;
        margin: 15px auto;
        width: 100%;

        &.title {
            max-width: 400px;
        }

        &.action {
            max-width: 600px;
        }
    }
}

main {
    background-color: hsl(0, 0%, 100%);
    padding: 0 25px;
    overflow: hidden;

    section {
        margin: 0 auto;
        border-bottom: 1px solid hsl(0, 0%, 0%);
        padding: 50px 0;
        max-width: 775px;

        h1 {
            font: 30px/34px Open Sans, sans-serif;
            margin-bottom: 12px;
        }

        @media (max-width: $ipad-portrait) {
            text-align: center;
        }

        &#intro {

            .copy {
                float: left;
                max-width: 445px;
                font: 16px/24px Georgia, serif;

                @media (max-width: $ipad-portrait) {
                    float: none;
                    margin: 0 auto;
                }
                
                p { 
                    margin-bottom: 20px;
                    &:last-of-type { margin: 0; }
                }
            }

            img {
                float: right;
                margin-top: 20px;

                @media (max-width: $ipad-portrait) {
                    float: none;
                }
            }

            .clear {
                clear: both;
            }
        }

        &#winners {

            .winner {
                display: inline-block;
                vertical-align: top;
                margin-top: 25px;
                padding: 0 25px;
                width: 50%;
                text-align: left;

                @media (max-width: $ipad-portrait) {
                    display: block;
                    width: auto;
                }

                @media (max-width: $small-devices) {
                    padding: 0;
                }

                h2 {
                    margin-bottom: 10px;
                    font: 20px/30px Coming Soon, sans-serif;
                    text-transform: uppercase;
                }

                ul {
                    padding-left: 20px;
                    font: 16px/24px Georgia, serif;
                }

                &.grand-champion {
                    border-right: 1px solid black;
                    @media (max-width: $ipad-portrait) { border: 0; }
                }
            }
        }

        &#contest-form {

            .form {
                text-align: left;

                #fsCaptcha2013018 {
                    @media (max-width: $small-devices) {
                        margin-left: -44px;
                    }
                }

                .fsSubmitButton {
                    margin-top: 10px;
                    border-radius: 3px;
                    padding: 5px;
                }

            }

            iframe {
                width: 100%;
                height: 1560px;

            }
        }

        &:last-of-type{ border: 0; }
    }
}


footer {
    padding: 40px 20px 60px;
    font: 12px/22px Open Sans, sans-serif;
    text-align: center;
    color: hsl(0, 0% ,100%);
    background-color: hsl(0, 0%, 0%);

    p {
        max-width: 1000px;
        margin: 0 auto 15px;
        &:last-of-type { margin-bottom: 0; } 

        .legal-link {
            color: hsl(0, 0%, 100%);
        }
    }
}
