* { 
    outline: 0; 
    padding: 0;
    margin: 0; 
    border: 0;
    box-sizing: border-box;
}

main, menu, section, article, footer { display: block; }

body {
  background: url('../../_img/background.jpg') top left/auto auto repeat rgb(190,50,50);
}

.desktop-only {
  @media (max-width: 1024px) { display: none!important; }
}

.mobile-only {
  @media (min-width: 1025px) { display: none!important; }
}

.vertical-prop {
    display: inline-block;
    vertical-align: middle;
    width: .01%;
    height: 100%;
}

.button {
    display: block;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 15px;
    width: 200px;
    height: 45px;
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.2);
    font: 600 18px/45px Coming Soon, sans-serif;
    color: hsl(0, 0%, 0%);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: hsl(39, 100%, 50%);
    cursor: pointer;

    &.simple {
        background-color: hsl(82, 100%, 30%);
        color: hsl(0, 100%, 100%);
        border: 1px solid hsl(82, 100%, 25%);
        box-shadow: none;
        font: 400 14px/38px Open Sans, sans-serif;
        text-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.6);
        border-radius: 5px;
        width: 150px;
        height: 40px;
    }
}