@import 'mixins';

header {
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 380px;
    }

    p {
        margin: 0 auto;
        padding: 10px 20px;
        max-width: 550px;
        font: 600 14px/20px Open Sans, sans-serif;
        color: hsl(0, 0%, 100%);
        text-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.6);
        letter-spacing: 1px;
    }

    .callout {
        display: block;
        margin: 10px 20px 0;
        font: 600 40px/46px Coming Soon, sans-serif;
        color: hsl(39, 100%, 50%);
        text-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.6);
        text-transform: uppercase;
        letter-spacing: 1px;

        &.congrats { font-size: 30px; }
    }

    .button {
        margin: 10px auto 20px;
    }
}

#content {

    section {
        height: 300px;

        @media (max-width: 768px) {
            height: auto;
            text-align: center;
        }

        &:nth-child(odd) {
            background-color: rgb(255,255,255);
            .wrapper > img {
                float: right;
                width: 300px;
                padding-left: 20px;
    }
        }
        &:nth-child(even) {
            background: url('../../_img/background-paper.jpg') top center/cover no-repeat;
            .wrapper > img {
                float: left;
                width: 400px;
                padding-right: 20px;
            }
        }

        .wrapper {
            max-width: 850px;
            height: 100%;
            margin: 0 auto;
            padding: 50px 30px;
            box-sizing: border-box;

            @media (max-width: 768px) {
                max-width: 500px;
            }

            h1 {
                font: 30px/34px Open Sans, sans-serif;
                margin-bottom: 12px;
            }

            p {
                font: 16px/24px Georgia, serif;
                a { color: hsl(0, 0%, 0%); }
            }

            .button {
                margin-top: 15px;

                @media (max-width: $ipad-portrait) {
                    margin: 15px auto 0;
                }
            }

            > img {
                display: block;
                position: relative;
                top: 50%;
                @include vendor-prefix(transform, translateY(-50%));
                box-sizing: border-box;

                @media (max-width: 768px) {
                    float: none !important;
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 0 !important;
                    @include vendor-prefix(transform, none);
                }
            }

            .text {
                position: relative;
                top: 50%;
                @include vendor-prefix(transform, translateY(-50%));

                @media (max-width: 768px) {
                    @include vendor-prefix(transform, none);
                }

                .social {
                    margin: 10px 0;

                    img { width: 16px; margin-right: 5px; }
                }
            }
        }
    }
}

footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px 60px;
    font: 12px/22px Open Sans, sans-serif;
    text-align: center;
    color: rgb(255,255,255);
    box-sizing: border-box;

    .legal {
        margin-bottom: 15px;

        .legal-link {
            color: hsl(0, 0%, 100%);
        }
    }
}
